.MapRender{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    /*border: 5px solid black;*/
    background-image: url(../assets/BlurGrass.jpg);
    background-size: cover;

    margin: 0;

    z-index: 1;
}

.columnMapRender{
    display: flex;
    flex-wrap: wrap;
}

.MapRenderDark{
    display: grid;

    position: absolute;
    right: 0;
    left: 0;

    height: 450px;
    margin: 0px;
    
    mix-blend-mode: multiply;
    
    pointer-events: none;

    z-index: 5;
    overflow: auto;
}